/.idea/
/.yamato
/com.unity.postprocessing
/com.unity.template.hdrp-blank
/com.unity.template-hd
/com.unity.template-universal
/TestProjects
/Tests
/Tools
/Packages/com.unity.shaderanalysis
/Packages/com.unity.shadergraph
/Packages/com.unity.visualeffectgraph
/Packages/com.unity.render-pipelines.core